<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        SYSTEM
        "minimybatis\src\main\java\com\lzp\mybatis\parsing\mybatis-1.0-mapper.dtd">

<mapper namespace="com.lzp.dao.UserMapper">
    <!--findById方法-->
    <select id="findById" resultType="com.lzp.entity.User">
        SELECT * FROM USER WHERE id = #{id,jdbcType=INTEGER}
    </select>
</mapper>